<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!-- Platzhalter für den jeweiligen Content pro Seite -->
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menü</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/app/home">
                    <i class="ion-home"> Home </i> 
                </ion-item>
                <ion-item menu-close href="#/app/settings">
                    <i class="ion-gear-a"> Einstellungen </i> 
                </ion-item>
                <ion-item menu-close href="#/app/info">
                    <i class="ion-information-circled"> Informationen </i> 
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>