<ion-view view-title="Wie fühle ich mich heute?">
  <ion-content ng-controller="PictureController">
      <!-- div no-image + div camera-image + bar-footer mit 3 buttons -->      
  </ion-content>
</ion-view>