<ion-view view-title="Info">
    <ion-content>
        <center><h3>Emotion-Checker</h3></center>
        <ion-list>
            <ion-item>
                Umgesetzt mit Ionic (v1), Cordova & AngularJS
            </ion-item>
            <ion-item>
                <b>Version: 0.0.1</b>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>