<ion-view view-title="Einstellungen">
    <ion-content ng-controller="SettingsController">
        <center><h4> API-Settings </h4></center>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">API URL</span>
                <input type="text" placeholder="https://..." ng-model="settings.apiUrl">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">API KEY</span>
                <input type="text" placeholder="api-key" ng-model="settings.apiKey">
            </label>
        </div>

        <center><h4> Bildeinstellungen </h4></center>
        <div class="card">
            <div class="item item-divider">
                Bildqualit&#228;t - {{settings.pictureQuality}}%
            </div>
            <div class="item range range-positive"> <input type="range" name="Quality" ng-model="settings.pictureQuality" min="10" max="100" step="10"> </div>
            <div class="item item-divider">
                Aufl&#246;sung - {{settings.resolution}}
            </div>
            <div class="item range range-assertive"> <input type="range" name="Res" ng-model="settings.resolution" min="40" max="2000" step="20"> </div>
        </div>
        <center><h4> Anzeigeeinstellungen </h4></center>
        <div class="card">
            <div class="item item-divider">
                Min. Score f&#252;r Angezeigte Emojis - {{settings.scoreMin}}%
            </div>
            <div class="item range range-assertive"> <input type="range" name="Score" ng-model="settings.scoreMin" min="0" max="100" step="0.5"> </div>
        </div>
    </ion-content>
</ion-view>