/* Empty. Add your own CSS if you like */
.no-image {
    height: 100%;
    width: 100%;
    background-image: url(../img/no-image-icon.png);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center center;
}

.camera-image {
    height: 100%;
    width: 100%;        
}

.camera-image img, .camera-image canvas {
    max-width: 100%;
}